nav {
  height: 120px;
  background-color: #423A6D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*change a tag style*/
nav a {
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.nav-left {
  padding: 0 1.5em;
  font-family: 'Bungee', cursive;
}

.nav-left a:hover h1 {
  transform: scale(1.08);
  /*box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);*/
}

.nav-right {
  padding: 0 1.5em;
}

.nav-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-right i {
  font-size: 25px;
}

.nav-right i:hover {
  color: #FFFFFF;
  transform: scale(1.5);
}

.back-to-Top {
  cursor: pointer;
  display: none;
}

.back-to-Top:hover {
  transform: scale(1.1);
}


