/* new tweet style*/

.new-tweet {
  /*display: flex;*/
  /*flex-direction: column;*/
  width: 90%;
  box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form textarea {
  border: none;
  border-bottom: 3px solid #545149;
  background: transparent;
  line-height: 35px;
  resize: none;
}

.new-tweet form textarea:focus {
  outline: none;
}

.new-tweet-bottom button {
  font-family: 'Bungee', cursive;
}

.new-tweet-bottom {
  display: flex;
  justify-content: space-between;
}

.new-tweet-bottom .counter {
  padding-right: 1em;
  font-weight: bolder;
  font-size: x-large;
}

#tweetBtn:hover {
  box-shadow: 1px 1px 19px 6px rgb(127, 115, 203);
}

.red-num {
  color: red;
}

.error-msg {
  display: none;
}
